.header {
    color: red;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    border: solid red;
}

.button-box {
    border: solid red;
    display: block;
    margin: auto;
}

.button {
    border: solid red;
    background-color: white;
    color: red;
    padding: 50px;
    margin: 5px;
    text-align: center;
}

.button:hover {
    background-color: red;
    color: white;
}

a {
    color: red;
    text-underline-offset: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    border: solid red;
    background-color: red;
    color: white;
    text-align: center;
}