.header {
    background-color: black;
    color: rgb(163, 163, 245);
    font-size: 30px;
    font-family: cursive, sans-serif;
    font-weight: 700;
    text-align: center;
}

.links {
    color: red;
    background-color: greenyellow;
}